<form class="form-auth" ng-submit="uploadStore()">
  <h2>Register</h2>
  <p class="text-warning">{{error_message}}</p>
  <input type="storeName" ng-model="storeName" placeholder="storeName" class="form-control"><br>
  <input type="storeCode" ng-model="storeCode" placeholder="storeCode" class="form-control"><br>
  <input type="location" ng-model="location" placeholder="location" class="form-control"><br>
  <input type="sector" ng-model="sector" placeholder="sector" class="form-control"><br>
  <input type="submit" value="upload" class="btn btn-primary" />
</form>
