<div class="clearfix">
	<form class="form-auth" ng-submit="registerUser()">
	<h2 style=" margin-top: 22%;">Register</h2>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="username" placeholder="Username" class="form-control"><br>
	<input type="password" ng-model="password" placeholder="Password" class="form-control"><br>
	<input type="name" ng-model="FirstName" placeholder="First Name" class="form-control"><br>
  <input type="name" ng-model="LastName" placeholder="Last Name" class="form-control"><br>
	<input type="email" ng-model="email" placeholder="email" class="form-control"><br>
  <input type="phonenumber" ng-model="contactno" placeholder="Contact Number"   class="form-control"><br>
	<input type="submit" value="Register" class="btn btn-primary" />
</form>
</div>
